.img_1 {
    height: 250px;
    width: 250px;
    border: 2px solid grey;
}

.img_2 {
    padding: 2px;
    height: 150px;
    width: 150px;
    border-radius: 50px;
    border: 5px solid black;
}

.img_2:hover {
    padding: 2px;
    border: 5px solid red;
}

.img_3 {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 5px double red;
    width: 270px;
    height: 330px;
    border-radius: 40%;
    margin: 1%;
    float: right;
}

.table_2 {
    border: 4px ridge black;
    border-radius: 50px;
    padding: 10px;
    background-image: url(https://content.onliner.by/news/2015/06/large/389550e8a7144ac49f5d1b6910915876_1434120230.jpg);
}

.text_2 {
    margin-top: 1%;
    border: 5px double black;
    border-radius: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.199);
    text-indent: 50px;
    text-align: justify;
    display: inline-block;
    width: 40.6%;
}

.picture {
    float: right;
}

.p_2 {
    color: black;
    font-size: 14.7px;
    font-family: Comic Sans MS;
    font-weight: bolder;
}